<%- include("partials/header.ejs") %>

  <h1 class="slider-title">Trending Posts</h1>
  
    <section class="slider-container mb-4 container">
    
      <i class="fa-solid fa-chevron-left fa-2xl prev"></i>
      <i class="fa-solid fa-chevron-right fa-2xl next"></i>

      <div class="post-container">
        <article class="post ">
          <img src="/images/piano.jpeg">
            <section class="post-info">
                <h4><a href="" >How I became a Professional Pianist at 28</a></h4>
                <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post ">
            <img src="https://img.contractingbusiness.com/files/base/ebm/contractingbusiness/image/2022/12/SUCCESS_dreamstime_l_84946026.63923712e0ebb.png?auto=format,compress&fit=crop&q=45&h=356&height=356&w=640&width=640">
            <section class="post-info">
                <h4><a href="" >A Path to Success that will Change Your Life</a></h4>
                <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Willard Neberry | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post ">
            <img src="https://www.mantellassociates.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMU90RlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9655692b24255c88b03daa607c540f45fba7298a/Blog%20Header%20Image%20-%20Website%20(19).png">
            <section class="post-info">
                <h4><a href="" >Staying Motivated When Feeling Sad</a></h4>
                <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Jacky Fenn | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post">
            <img src="https://t4.ftcdn.net/jpg/05/52/94/89/360_F_552948967_rfWkVCstu3t9ypSnpt2ZePVnuqoi6D6o.jpg">
            <section class="post-info">
                <h4><a href="" >Learning how to learn will change your life!</a></h4>
                <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Mel Jackson | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post">
            <img src="https://www.harryanddavid.com/blog/wp-content/uploads/2022/07/cooking-therapy-hero.jpeg">
            <section class="post-info">
                <h4><a href="" >Tips and Tricks from Professional Chefs</a></h4>
                <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Leslie June | Date: July 8, 2024</small></p>
            </section>
        </article>
      </div>
    </section>

    <section class="container mt-4">
      <h2>Related Posts</h2>
  
      <!-- First Post -->
      <div class="card mb-2">
          <div class="row">
              <div class="col-md-4">
                  <img src="/images/piano.jpeg" class="card-img" alt="Post Image">
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h4 class="card-title"><a href="#">How I became a Professional Pianist at 28</a></h4>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo aliquid laudantium sapiente labore voluptatem molestias placeat numquam facere amet.</p>
                      <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Second Post (Duplicate) -->
      <div class="card mb-2">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/piano.jpeg" class="card-img" alt="Post Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><a href="#">How I became a Professional Pianist at 28</a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo aliquid laudantium sapiente labore voluptatem molestias placeat numquam facere amet.</p>
                    <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
                </div>
            </div>
        </div>
      </div>
  
      <!-- Third Post (Duplicate) -->
      <div class="card mb-2">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/piano.jpeg" class="card-img" alt="Post Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><a href="#">How I became a Professional Pianist at 28</a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo aliquid laudantium sapiente labore voluptatem molestias placeat numquam facere amet.</p>
                    <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
                </div>
            </div>
        </div>
      </div>
  
    </section>
  
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
$(document).ready(function() {
    $('.post-container').slick({ 
        slidesToShow: 3, 
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $('.next'),
        prevArrow: $('.prev'),
        responsive: [
          {
            // 1024
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            // 600
            breakpoint: 600, 
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            // 480
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
      ]
    });
})
</script>

<%- include("partials/footer.ejs") %>
