<%- include("partials/header.ejs") %>

  <h1 class="slider-title">Trending Posts</h1>
  
    <section class="slider-container mb-4 container">
    
      <i class="fa-solid fa-chevron-left fa-2xl prev"></i>
      <i class="fa-solid fa-chevron-right fa-2xl next"></i>

      <div class="post-container">
        <article class="post ">
          <img src="/images/piano.jpeg">
            <section class="post-info" alt="piano image">
                <h4><a href="" >How I became a Professional Pianist at 28</a></h4>
                <p class="card-text text-truncate"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post ">
            <img src="/images/success.avif">
            <section class="post-info" alt="success image">
                <h4><a href="" >A Path to Success that will Change Your Life</a></h4>
                <p class="card-text text-truncate"><small class="text-muted"><i class="far fa-user"></i> Willard Neberry | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post ">
            <img src="/images/motivation.png">
            <section class="post-info" alt="motivational image">
                <h4><a href="" >Staying Motivated When Feeling Sad</a></h4>
                <p class="card-text text-truncate"><small class="text-muted"><i class="far fa-user"></i> Jacky Fenn | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post">
            <img src="/images/learning.jpeg">
            <section class="post-info" alt="learning image">
                <h4><a href="" >Learning how to learn will change your life!</a></h4>
                <p class="card-text text-truncate"><small class="text-muted"><i class="far fa-user"></i> Mel Jackson | Date: July 8, 2024</small></p>
            </section>
        </article>
        <article class="post">
            <img src="/images/cooking.jpeg" alt="cooking image">
            <section class="post-info">
                <h4><a href="" >Tips and Tricks from Professional Chefs</a></h4>
                <p class="card-text text-truncate"><small class="text-muted"><i class="far fa-user"></i> Leslie June | Date: July 8, 2024</small></p>
            </section>
        </article>
      </div>
    </section>


    <div class="container mt-6 d-flex">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2>Related Posts</h2>
    
                    <!-- First Post -->
                    <div class="card mb-2 shadow-sm">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="img-container">
                                    <img src="/images/piano.jpeg" class="card-img" alt="Post Image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">How I became a Professional Pianist at 28</a></h5>
                                    <p class="card-text text-truncate-multiline">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo aliquid laudantium sapiente labore voluptatem molestias placeat numquam facere amet.</p>
                                    <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Second Post -->
                    <div class="card mb-2 shadow-sm">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="img-container">
                                    <img src="/images/piano.jpeg" class="card-img" alt="Post Image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">How I became a Professional Pianist at 28</a></h5>
                                    <p class="card-text text-truncate-multiline">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo aliquid laudantium sapiente labore voluptatem molestias placeat numquam facere amet.</p>
                                    <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Third Post -->
                    <div class="card mb-2 shadow-sm">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="img-container">
                                    <img src="/images/piano.jpeg" class="card-img" alt="Post Image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">How I became a Professional Pianist at 28</a></h5>
                                    <p class="card-text text-truncate-multiline">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo aliquid laudantium sapiente labore voluptatem molestias placeat numquam facere amet.</p>
                                    <p class="card-text"><small class="text-muted"><i class="far fa-user"></i> Thomas Curry | Date: July 8, 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </section>
            </div>
    
            <div class="col-md-4">
              <aside class="popular-bloggers ml-lg-4">
                <h4>Popular Bloggers</h4>
                <div class="row">
                    <!-- Blogger 1 -->
                    <div class="col-md-12 mb-3">
                        <div class="d-flex align-items-center">
                            <img src="/images/cooking.jpeg" alt="Blogger 1" class="rounded-circle " style="width: 50px; height: 50px;">
                            <div>
                                <h5 class="mb-0 ">Jacky Fenn</h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, animi?</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 mb-3">
                      <div class="d-flex align-items-center">
                          <img src="/images/cooking.jpeg" alt="Blogger 1" class="rounded-circle " style="width: 50px; height: 50px;">
                          <div>
                              <h5 class="mb-0 ">Jacky Fenn</h5>
                              <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, animi?</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <div class="d-flex align-items-center">
                        <img src="/images/cooking.jpeg" alt="Blogger 1" class="rounded-circle " style="width: 50px; height: 50px;">
                        <div>
                            <h5 class="mb-0 ">Jacky Fenn</h5>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, animi?</p>
                        </div>
                    </div>
                </div>
                </div>
            </aside>
            
            </div>
      </div>
</div>
    
 
    
   <!-- Custom CSS -->
<style>
  .card {
      border: none;
  }

  .card-text.text-truncate-multiline {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* Change this value to control the number of lines */
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .shadow-sm {
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  }

  .img-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
  }

  .img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .popular-bloggers {
        border-left: 1px solid #ccc; /* Thin left border */
        padding-left: 15px; /* Padding to separate content from border */
        margin-top: 20px; /* Margin to separate from previous content */
    }

    @media (max-width: 767px) {
        .popular-bloggers {
            border-left: none; /* Remove left border on smaller screens */
            border-top: 1px solid #ccc; /* Thin top border on smaller screens */
            padding-left: 0; /* Remove padding on smaller screens */
            margin-top: 0; /* Remove margin on smaller screens */
        }
    }

    .blogger-profile {
        border: 1px solid #ccc; /* Thin border around each blogger profile */
        border-radius: 5px; /* Rounded corners */
        margin-bottom: 10px; /* Margin between each blogger profile */
    }

    .blogger-profile img {
        border: 2px solid #fff; /* White border around image */
    }
</style>
    




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
$(document).ready(function() {
    $('.post-container').slick({ 
        slidesToShow: 3, 
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $('.next'),
        prevArrow: $('.prev'),
        responsive: [
          {
            // 1024
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            // 600
            breakpoint: 600, 
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            // 480
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
      ]
    });
})
</script>

<%- include("partials/footer.ejs") %>
