<%- include("partials/header.ejs") %>
</div>

<div class="login-container py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4">
                    <div class="card-header text-center mb-3">
                        <h2>Login to BlogBunny</h2>
                    </div>
                    <div class="card-body text-center">
                        <p>Log in with Google to access your account.</p>
                        <!-- Google Login Button -->
                        <a class="btn btn-danger btn-block mt-4" href="/auth/google">Login with Google</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include("partials/footer.ejs") %>
