  <!-- <footer>
    
    <div id="footerInfo">
      <section class="footerSection">
        <img src="images/logo.png" alt="Logo" id="logo">
        <p>BlogBunny offers a user-friendly interface, customizable themes, and a powerful text editor to make your blogging experience effortless and enjoyable. Join BlogBunny today and elevate your blogging journey!</p>

        
        <p> <img src="images/telephone.png" alt="Phone symbol"> 123 - 456 - 7893</p>
        <p> <img src="images/mail.png" alt="Email symbol"> info@fictionalBlog.com </p>
        
        <ul>
          <a href=""> <img src="images/facebook.png" alt="Facebook Link"> </a>
          <a href=""> <img src="images/instagram.png" alt="Instagram Link"> </a>
          <a href=""> <img src="images/twitter.png" alt="X Link"> </a>
          <a href=""> <img src="images/youtube.png" alt="Youtube Link"> </a>
        </ul>
      </section>

      <section class="footerSection">
        <h3>Quick Links</h3>
        <ul>
          <li> <a href=""> Events </a></li>
          <li> <a href=""> Contact Us </a></li>
          <li> <a href=""> Mentors </a></li>
          <li> <a href=""> Galleries </a></li>
          <li> <a href=""> Terms and Conditions </a></li>
        </ul>
      </section>

      <section class="footerSection">
        <h3>Contact Us </h3>
        <form action="" method="POST">
          <input type="text" name="email" placeholder="johnsmith@gmail.com">
          <input type="text" name="message" placeholder="enter your message...">
        </form>
      </section>
    </div> -->



<footer class="text-white text-center text-lg-start bg-info">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>

        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti.
        </p>

        <p>
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
          molestias.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-dark btn-lg"> <img src="images/facebook.png" alt="Facebook Link"> </a>
          <!-- Dribbble -->
          <a type="button"> <img src="images/instagram.png" alt="Instagram Link"> </a>
          <!-- Twitter -->
          <a type="button" > <img src="images/twitter.png" alt="X Link"> </a>
          <!-- Google + -->
          <a type="button"> <img src="images/youtube.png" alt="Youtube Link"> </a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Warsaw, 00-967, Poland</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
 

    <!-- Copyright -->
    <% const currentYear = new Date().getFullYear(); %>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © <%= currentYear %> 
      <a class="text-white" href="https://mdbootstrap.com/">Blog Bunny | Gia Henville</a>
    </div>
    <!-- Copyright -->
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>