<footer class="text-white text-center text-lg-start bg-info mt-5 pt-4">
  <!-- Grid container -->
  <div class="container ">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About BlogBunny</h5>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti.
        </p>

        <p>
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
          molestias.
        </p>

        <div class="mt-4">
           <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
           
           <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
           
           <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" title="Twitter / X"><i class="fa-brands fa-x-twitter"></i></a>
           
           <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact Us</h5>
          
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Warsaw, 00-967, Poland</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
          </li>
        </ul>
      </div>

      <!--Grid column-->
      
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-white">Events</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white">Contact Us</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white">Mentors</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white">Galleries</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white">Terms and Conditions</a>
          </li>
        </ul>
      </div>
      
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!-- Copyright -->
    <% const currentYear = new Date().getFullYear(); %>
    <div class="text-center p-3 mt-2" >
      © <%= currentYear %> BlogBunny | Gia Henville 
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>