<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
   <link rel="stylesheet" href="styles/content.css">
   <link rel="stylesheet" href="styles/layout.css">
  <title>Blog Web Application</title>
</head>
<nav>
  <img src="images/logo.png" alt="Logo" id="logo">
    <ul>
        <a href="/"> <li class="nav"> Home </li> </a>
        <a href="/about"> <li class="nav"> About </li> </a>
        <a href="/create"> <li class="nav"> Create </li> </a>
        <a href="/profile"> <li class="nav"> John Smith </li> </a>
    </ul>
</nav>
<body>
  <main>