<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
   <!-- <link rel="stylesheet" href="styles/main.css"> -->
  <title>Blog Web Application</title>
</head>
<nav>
  <img src="../images/logo.png" alt="Logo" id="logo">
    <ul>
        <li href="/index.ejs" class="nav">Home</li>
        <li href="/nav/about.ejs" class="nav">About</li>
        <li href="/nav/create.ejs" class="nav">Create</li>
        <li href="/nav/profile.ejs" class="nav">John Smith</li>
    </ul>
</nav>
<body>
  <main>