<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
   <!-- <link rel="stylesheet" href="styles/main.css"> -->
  <title>Blog Web Application</title>
</head>
<nav>
  <img src="/logo.png" alt="Logo">
    <ul>
        <li href="/index.ejs">Home</li>
        <li href="/about.ejs">About</li>
        <li href="/create.ejs">Create</li>
    </ul>
</nav>
<body>
  <main>