#logo {
    width: 10rem;
}

#navUl{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 30rem;
}

/* POST SLIDER */
.slider-title {
    text-align: center;
    margin: 30px auto;
}
.slider-container {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid green;
}

.slider-container .next {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 3rem;
    cursor: pointer;
}

.slider-container .prev {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 3rem;
    cursor: pointer;
}
.slider-container .post-container{
    /* display: flex; */
    border: 1px dashed rgb(255, 138, 158);
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
}

.slider-container .post-container .post {
    display: inline-block;
    background-color: pink;
    width: 300px;
    height: 350px;
    margin: 0px 10px;
}
#footerInfo {
    display: flex;
    justify-content: space-between;
}

.footerSection {
    width: 20rem;
}

#copyright {
    text-align: center;
}