#logo {
    width: 10rem;
}

#navUl{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 30rem;
}

#footerInfo {
    display: flex;
    justify-content: space-between;
}

.footerSection {
    width: 20rem;
}