body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2A2E45;
    margin: 0;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    
img {
    width: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}