body {
    color: #2A2E45;
    margin: 0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B2A8C7;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9E8576;
}

img {
    width: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

a {
    color: #2A2E45;
    text-decoration: none;
}

a:hover {
    color: #fcfcfc; 
    text-decoration:none; 
    cursor:pointer;  
}